In [1]:
import pandas as pd

In [3]:
data_frame = pd.read_csv('data/train.csv')

In [33]:
data_frame.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

+ dataframe은 엑셀과 마찬가지로 2D array

data_frame. + tab

In [5]:
data_frame.tail(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [7]:
type(data_frame.Id)

pandas.core.series.Series

+ dataframe의 각각의 column은 series!

+ series는 Python list로 만들어짐

In [8]:
list_temp =[1,2,3]
list_temp

[1, 2, 3]

In [14]:
s1 = pd.core.series.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [15]:
s2 = pd.core.series.Series(['one', 'two', 'three'])
s2

0      one
1      two
2    three
dtype: object

In [16]:
pd.DataFrame(data=dict(name=s1, word=s2))

   name   word
0     1    one
1     2    two
2     3  three