In [2]:
import pandas as pd

In [6]:
friends = [{'name': 'John', 'age': 20, 'job': 'student'},
           {'name': 'Jenny', 'age': 30, 'job': None},
           {'name': 'Nate', 'age': 30, 'job': 'teacher'}
          ]
df =pd.DataFrame(friends)
df = df[['name', 'age', 'job']]

In [7]:
df.to_csv('friends.csv', index=True, header=True) # index=True, header=True가 default

In [8]:
df.to_csv('friends.csv', index=False, header=True) # index=False => row id 생략

In [9]:
df

    name  age      job
0   John   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [10]:
df.to_csv('friends.csv', index=False, header=True, na_rep='-')

+ None일 때 빈 칸 대신 -을 사용